.name{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F1D00A;
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 500px;
    padding-bottom: 20px;
    width: 500px;
    height: 500px;
}