.fot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #74959A;
    /* padding: 10px;
    margin: 10px; */
}

.name{
    display: flex;
    align-items: center;
    justify-content: left;
    color: #74959A;
    padding: 20px;
    margin: 20px;
}
.fota{
    display: flex;
    align-items: center;
    justify-content:right;
    color: red;
}
.fota a{
    padding: 10px;
    margin: 10px;
}